[Desktop Entry]
Name=Quake II: Ground Zero
Comment=Quake2Forge Mission Pack "Ground Zero" (Rogue)
Exec=quake2 +set game rogue
Icon=quake2 
Terminal=false
Type=Application
Categories=Game;X-FPPGame;
# vi: encoding=utf-8
