[Desktop Entry]
Name=Quake2Forge
Comment=Quake2Forge for Linux
Comment[pl]=Quake2Forge dla Linuksa
Exec=quake2
Icon=quake2 
Terminal=false
Type=Application
Categories=Game;X-FPPGame;
# vi: encoding=utf-8
